.role-picker {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;

  .text {
    font-weight: bold;
    margin-right: .5em;
  }
}

.areas {
  display: flex;
  flex-direction: column;
  align-items: center;

  .area {
    border: 1px solid white;
    border-radius: 4rem;
    padding: 1em;
    margin-bottom: .5em;
    max-width: 50%;
    width: 100%;
    text-align: center;

    &.guest {
      border-color: lime;
    }

    &.user {
      border-color: orange;
    }

    &.admin {
      border-color: red;
    }
  }
}
