<form #roleForm="ngForm" class="role-picker" (change)="formChanged(roleForm.value)">
  <div class="text">Pick a role:</div>
  <div class="roles">
    <input type="radio" name="role" id="guest" value="guest" ngModel>
    <label for="guest">Guest</label>
    <input type="radio" name="role" id="user" value="user" ngModel>
    <label for="user">User</label>
    <input type="radio" name="role" id="admin" value="admin" ngModel>
    <label for="admin">Admin</label>
  </div>
</form>
<div class="areas">
  <div class="area guest">This is available to anyone.</div>
  <div class="area user">This is only available to logged users.</div>
  <div class="area admin">This is only available to admins.</div>
</div>
